.bigCounter{
    text-align: center;
    background: black;
}


.bigCounter div{
    display: inline-block;
    font-size: 100px;
    line-height: 100px;
    background-color: black;
    color: pink;
    padding: 50px;

}